/* Dashboard Area */
.dashboard-container{
  padding: 0;
  width: 100%;
  height: 100vh;
  background: url("../image/hero3.jpg");
  background-size: cover;
  background-position: 0 0px;
}

.dashboard-container::after{
  content: '';
  position: absolute;
  display: block;
  background: linear-gradient(to top, #282c34, #282c349d);
  width: 100%;
  height: 100vh;
  top: 0;
  z-index: 1;
}

.dashboard-container .card-detail{
  color: white;
  background-color: rgba(255, 255, 255, 0.082);
  backdrop-filter: blur(4px);
  position: relative;
  z-index: 2;
  width: 40%;
  margin: auto;
  top: 80px;
}

main {
  margin: 0 auto;
  padding: 70px 50px 0 50px;
  width: 40%;
  height: 100vh;
  box-sizing: border-box;
} 
.card-detail {
  box-sizing: border-box;
  border-radius: 10px;
  padding: 20px 20px 50px 20px;
}
.card-detail a {
  border: none;
  width: 50%;
  cursor: pointer;
  padding: 7px;
  border-radius: 5px;
  margin-top: 20px;
  text-decoration: none;
}
.card-detail button {
  border: none;
  width: 50%;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  text-decoration: none;
}

.card-detail h1 {
  font-weight: 600;
  color: cyan;
}
.card-detail h3 {
  font-weight: 500;
  margin-top: -15px;
}

.card-detail img {
  /* width: 100px;
    height: 100px; */
  border-radius: 50%;
}

/* Responsive */
@media (max-width: 768px) {
  .dashboard-container .card-detail{
    width: 80%;
  }
  main {
    margin: 0 auto;
    padding: 50px 30px 0 30px;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
  }
  .card-detail {
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px 20px 40px 20px;
  }
  .card-detail img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
  }
}

/* Login Area */
.login-container{
  padding: 0;
  width: 100%;
  height: 100vh;
  background: url("../image/hero3.jpg");
  background-size: cover;
  background-position: 0 0px;
}

.login-container::after{
  content: '';
  position: absolute;
  display: block;
  background: linear-gradient(to top, #282c34, #282c349d);
  width: 100%;
  height: 100vh;
  top: 0;
  z-index: 1;
}

.login-container .card-detail{
  background-color: rgba(255, 255, 255, 0.082);
  backdrop-filter: blur(4px);
  position: relative;
  z-index: 2;
  width: 40%;
  margin: auto;
  top: 80px;
}
.login-container .card-detail .btn-login{
  background-color: cyan;
  color: #282c34;
}
.login-container .card-detail .btn-regis{
  color: white;
}

main {
  background-color: white;
}
main .btn-regis-page { 
  justify-content: center;
  align-items: center;
}

main .btn-regis-page a {
  width: 77%;
  text-align: center;
  margin-top: 10px;
}

main .btn-regis-page button {
  margin-top: 10px;
  width: 80%;
}

main .form-login .input-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main .form-login .input-group label {
  margin-left: 51px;
  color: white;
}

main .form-login input {
  border: 0.5px solid lightgray;
  margin: 0;
  width: 79%;
  margin: auto;
}

main .form-login {
  text-align: start;
}
/* Responsive */
@media (max-width: 768px) {
  .login-container .card-detail{
    width: 80%;
    top: 70px;
  }
  main .btn-regis-page a {
    width: 85%;
  }
  main .btn-regis-page button {
    margin-top: 10px;
    width: 90%;
  }
  main .form-login .input-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  main .form-login .input-group label {
    margin-left: 17px;
  }

  main .form-login input {
    border: 0.5px solid lightgray;
    margin: 0;
    margin: auto;
    width: 88%;
  }

  main .form-login {
    text-align: start;
  }
}


/* Register  */
.register-container{
  padding: 0;
  width: 100%;
  height: 100vh;
  background: url("../image/hero3.jpg");
  background-size: cover;
  background-position: 0 0px;
}

.register-container::after{
  content: '';
  position: absolute;
  display: block;
  background: linear-gradient(to top, #282c34, #282c349d);
  width: 100%;
  height: 100vh;
  top: 0;
  z-index: 1;
}

.register-container .card-detail{
  background-color: rgba(255, 255, 255, 0.082);
  backdrop-filter: blur(4px);
  position: relative;
  z-index: 2;
  width: 40%;
  margin: auto;
  top: 80px;
}

.register-container .card-detail .btn-regis{
  background-color: cyan;
  color: #282c34;
}

/* Responsive register */
@media (max-width: 768px) {
  .register-container .card-detail{
    width: 80%;
    top: 60px;
  }
}