.detailmv-container {
  position: relative;
  background: url("../image/hero3.jpg");
  background-size: cover;
  background-position: 0 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* top: -40px; */
  height: 100vh;
  width: 100%;
  z-index: 4;
}

.detailmv-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to top, #282c34, #282c349d);
  height: 100vh;
  width: 100%;
  z-index: -3;
}

.card-detail-movie {
  background-color: rgba(255, 255, 255, 0.116);
  backdrop-filter: blur(4px);
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
  position: relative;
  margin: 0 auto;
  width: 50%;
  height: 60%;
  top: 0;
  padding: 10px 30px;
  border-radius: 10px;
}
.card-detail-movie .dec {
  text-align: start;
  color: white;
}
.card-detail-movie .dec span {
  font-style: italic;
  font-size: 13px;
}
.card-detail-movie .dec svg {
  color: #ffff13;
  margin-right: 5px;
  position: relative;
  top: 2px;
}
.wrap-mv {
  position: relative;
  top: 0;
}
.card-detail-movie .img-wrap {
  margin: auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-detail-movie img {
  width: 250px;
  height: 350px;
}

/* responsive */
@media (max-width: 450px) {
  .detailmv-container {
    overflow: hidden;
  }
  .card-detail-movie {
    position: relative;
    background-color: rgba(255, 255, 255, 0.116);
    backdrop-filter: blur(4px);
    text-align: center;
    flex-direction: column;
    height: 85%;
    width: 60%;
  }

  .card-detail-movie .img-wrap {
    position: relative;
    margin: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card-detail-movie img {
    margin-top: 40px;
    width: 150px;
    height: 220px;
    position: absolute;
  }
  .card-detail-movie .dec {
    color: white;
  }

  .card-detail-movie .dec .mv-title {
    font-size: 20px;
    line-height: 20px;
  }

  .card-detail-movie .dec .mv-slug {
    height: 140px;
    overflow: scroll;
  }
}
